.Task {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    border: 1px solid rgb(195, 195, 195);
    height: 40px;

    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    max-width: 900px;
    min-width: 900px;
}

.Text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 40%;
}

.description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

}